* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 955px);
    padding-right: calc(50% - 955px);
}

.page {
    width: 1600px;
    height: 875px;
    background-color: #F1E4E6;
    margin: 0 auto;
}

.header {
    background-color: #222222;
    width: 1600px;
    height: 75px;
    display: flex;
    align-items: center;
}
.icon {
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 231px;

    width: 44px;
    height: 38px;
}
.lense {
    width: 26px;
    height: 26px;
    padding-top: 28px;
    padding-bottom: 20px;
    padding-left: 41px;
}
.burger {
    padding-left: 859px;
    padding-top: 30px;
    padding-bottom: 22px;
    padding-right: 25px;
}
.menu__man {
    padding-bottom: 20px;
    padding-right: 42px;
    padding-top: 24px;
}

.basket {
    padding-top: 26px;
    padding-bottom: 20px;
    /* display: inline-block; */
    display: flex;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
.a__absolut1 {
    position: absolute;
    right: 0;
    top: 20px;
}
.a__absolut2 {
    position: absolute;
    right: 6px;
    top: 20px;
}
.top {
    display: flex;
    width: 1600px;
    height: 764px;
    align-content: flex-start;
    position: relative;

}

.picture {
    width: 800px;
    padding-top: 35px;
}

.title {
    display: flex;
}
.title img {
    margin-top: 290px;
    margin-left: 60px; 
    width: 12px;
    height: 92px;  
}
.title h1 {
    width: 377px;
    height: 93px;
    margin-top: 290px;
    margin-left: 16px;
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.brand {
    font-family: Lato;
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.fashion {
    color: #F16D7F;
    font-family: Lato; 
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.menu {
    width: 232px;
    height: 634px;
    background-color: white;
    color: #6F6E6E;
    font-family: Lato; 
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    right: 0;
}
.man {
    padding-bottom: 20px;
    padding-right: 42px;
}
.woman {
    padding-bottom: 20px;
}
.menu a {
    margin-bottom: 11px;
    padding-left: 54px;
    display: inline-block;
}
h3 {
    color: #000;
    font-family: Lato;  
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    margin-left: 32px;
    margin-top: 32px;
}
h4 {
    color: #F16D7F;
    font-family: Lato;  
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
    margin-left: 32px;
}
.page1 {
    background: #FFF;
    display: grid;
    grid-template-rows: 260px 180px;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    padding-top: 65px;
    /* margin-left: 230px; */
    justify-content: center;

}
.icon_p1 {
    fill: rgba(33, 22, 22, 0.70);
    background-image: url(img/foto1.png);

    position: relative;
}
.icon_p1 h5 {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
    width: 154px;
    height: 50px;
    position: absolute;
    top: 105px;
    left: 103px;
}
span {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.icon_p2 {
    fill: rgba(33, 22, 22, 0.70);
    background-image: url(img/foto2.png);

    position: relative;   
}
.icon_p2 h5 {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;     
    width: 110px;
    height: 50px;
    position: absolute;
    top: 105px;
    left: 125px;
}
.icon_p3 {
    fill: rgba(33, 22, 22, 0.70);
    background-image: url(img/foto3.png);
    position: relative;   
 
}
.icon_p3 h5 {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;       
    width: 115px;
    height: 50px;
    position: absolute;
    top: 105px;
    left: 125px;    
}
.icon_big_p4 {
    width: 1140px;
    height: 180px;
    fill: rgba(33, 22, 22, 0.70);
    background-image: url(img/foto4.png);    
    position: relative;   
}
.icon_big_p4 h5 {
    width: 160px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;        
    position: absolute;
    top: 65px;
    left: 490px;    
}
.page2 {
    /* width: 1600px; */
    display: grid;
    grid-template-rows: 586px 586px;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    /* margin-top: 96px; */
    /* margin-left: 230px; */
    justify-content: center;
}
.page2__h2 {
    color: #222;
    font-family: "Lato";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    width: 186px;  
    margin: 0 auto;
    padding-top: 96px;
}
.page2__p {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    padding-top: 6px;  
    /* margin-left: 631px; */
    padding-bottom: 47px;
    margin: 0 auto;
    width: 336px;
}
.frame {
    display: flex;
    width: 360px;
    height: 581px;
    /* padding: 24px 16px; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    gap: 16px; 
    background-color: #F8F8F8;

}
.foto {
    width: 360px;
    height: 420px;
    position: relative;
}
.foto_m {
    position: absolute;
    top: 0;
    left: 0;
}
.foto_g {
    position: absolute;
    top: 10px;
    left: 108px;
}

.h6_m {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 432px;
    margin-left: 18px;
}
.h6_g {
    margin-top: 12px;
}
.page2__pcard {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    /* margin-top: 13px; */
    margin-left: 16px;
    /* margin-bottom: 18px;     */
}
.price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    margin-bottom: 20px;
    margin-left: 18px; 
}
.button__text {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    width: 212px;
    height: 48px;   
    border: 1px solid;
    padding: 15px 37px;
    background: #FFF;
    margin: 48px auto 60px auto;
    grid-column: span 3;
}
